main{
 min-height: 80vh;
}
.rating span{
    margin:0.1rem;
}

h3{
    padding:1rem 0;
}

.btn-block:hover{
    background-color: #080310;
    color: white;
}


.btn-block.clickedButton{
    background-color: #110c23;
    color: white;
}
.btn-block.clickedButton:hover{
    background-color: #110c23;
    color: white;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;

}


h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
    
}